@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Prompt', sans-serif;
}

option:hover {
  cursor: pointer;
}
